.board_lists {
  display: flex;
  height: max-content;
}

.container {
  text-align: center;
  background-color: rgb(0, 121, 191);
  width: auto;
  height: 100vh;
}

.another_list {
  margin-left: 10px;
  height: min-content;
  border-radius: 3px;
  margin-top: 15px;
  padding: 10px;
  width: 200px;
  color: #ffffff;
  font-weight: 600;
}

.new-list {
  background-color: #ebecf062;
}

.new-list:hover {
  background-color: #ebecf0b6;
}

.add_another_list {
  background-color: #ebecf0;
}

.add_list {
  width: 85%;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid rgba(173, 171, 171, 0.911);
  border-radius: 3px;
  font-size: 15px;
  margin: 0 auto;
  padding-left: 10px;
}

.add_another_list button {
  padding: 10px;
  background-color: rgba(17, 144, 17, 0.856);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  color: #ffffff;
  font-weight: 500;
  margin-top: 10px;
}

.delete_board {
  width: 70%;
  margin-left: 15px;
  float: right;
}

.delete_board button {
  border: none;
  color: hsla(0, 94%, 28%, 0.931);
  font-size: 16px;
}

.delete_board button:hover {
  opacity: 0.5;
}
